      <!-- Static navbar -->
      <!-- <div class="navbar navbar-default">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" routerLink="/">{{title}}</a>
          </div>
          <div id="main-navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                  <li><a routerLink="/"><i class="fa fa-home"></i></a></li>
                  <li><a routerLink="search">Search</a></li>
              </ul>

          </div>
      </div> -->

<div id="page" class="site">
	<header class="ct-site-header active">
		<div class="ct-wrap ct-site-header-container">
			<div class="ct-brand">
				<a>
					<img src="../../assets/customer-timeline-logo.svg" alt="Customer Timeline" class="ct-image ct-image--logo">
				</a>
			</div>
			<nav class="ct-site-nav">
				<ul>
									<li>
						<a id="nav_about" routerLink="/">About</a>
					</li>
					<li class="dropdown">
						<a id="nav_products" routerLink="/">Products</a>
						<div class="dropdown-content">
	<a routerLink="/">Timeline</a>
	<a routerLink="/">Elements</a>
	<a routerLink="/">Connect</a>

</div>
					</li>
			
									<li>
						<a id="nav_updates" routerLink="updates" class="active">Release Info</a>
					</li>
				</ul>
			</nav>
		</div>
  </header>
  
   <div class="main" style="padding-top:90px;">
      <div class="container content">
        <router-outlet></router-outlet>
      </div>
    </div>

        <footer class="ct-site-footer">
            <div class="ct-wrap ct-site-footer-container">
		        <a>
                        <img src="../../assets/cx-personalization-logo@2x.png" alt="CX Personalization" class="ct-image ct-image--logo">
                </a>
            </div>
        </footer>
    </div><!-- #page -->