 <section id="updates" class="ct-section bg-gray ct-section--updates">
            <header class="ct-wrap ct-flex-container">
                <h2 class="ct-updates-heading">Recent Updates</h2>
                <!--
                <form action="" method="">
                    <label class="is-visually-hidden" for="search">Search updates</label>
                    <input type="text" id="search" name="search" placeholder="Search Updates" />
                </form> -->
            </header>
            <div class="ct-updates">
                <article class="ct-update" id="post-315" data-component="accordion">
    <a href="http://cxp.cable.comcast.com/release/#" class="ct-accordion-content-trigger" data-role="accordion-trigger" aria-expanded="false">
        <div class="ct-update-date ct-background--jun">
            <span>Jun</span>
            <span>28</span>
            <span>2017</span>
        </div>
        <div class="ct-update-header">
            <h3 class="ct-update-title">Release 17.06.2</h3>
            
            <ul class="ct-update-summary ct-update-summary--desktop">
                <li>NPS Callbacks &amp; Medallia Integration</li><li>Account Search by Email</li><li>New Watchlist UX</li>                
            </ul> 
        </div>
        <div class="ct-accordion-content-indicator" data-role="accordion-indicator" data-accordion-indicator-alt-text="Hide">
            <span class="is-visually-hidden">Hide</span>
        </div>
    </a>
    <div class="ct-update-body" data-role="accordion-body" aria-hidden="false" style="display: block;">

        <ul class="ct-update-summary ct-update-summary--mobile">
                            <li>NPS Callbacks &amp; Medallia Integration</li> 
                            <li>Account Search by Email</li> 
                            <li>New Watchlist UX</li> 
                    </ul>

                     
                <img src="./Release Notes Archive - CXPersonalization_files/NPS_Callback_forWP.jpg" class="alignleft ct-update-body-img">
                            <div class="ct-update-body-text">
                <h4>NPS Callbacks &amp; Medallia Integration</h4>
                <p>Customer Timeline now makes it easier than ever to 1) find customers requesting a NPS callback via Medallia survey, 2) initiate a call and 3) submit feedback directly into Medallia without ever leaving Timeline! Our updated Timeline Talk experience in Customer Timeline will automaticallypull relevant NPS survey information and present a seamlessly integrated Medallia form at the close of a call right within Timeline.</p>
<p>&nbsp;</p>
            </div>
                     
                <img src="./Release Notes Archive - CXPersonalization_files/timeline_email_search_forWP.jpg" class="alignright ct-update-body-img">
                            <div class="ct-update-body-text">
                <h4>Account Search by Email</h4>
                <p>To provide more flexibility in account-search, Customer Timeline now supports for search by account email address (3rd party preferred email, comcast.net email and/or userid)</p>
<p>&nbsp;</p>
            </div>
                     
                <img src="./Release Notes Archive - CXPersonalization_files/Watchlist_overhaul_forWP.jpg" class="alignleft ct-update-body-img">
                            <div class="ct-update-body-text">
                <h4>New Watchlist UX</h4>
                <p>Timeline Watchlist feature&nbsp;received a major facelift. Now you can maintain your Watchlists with a better user experience. Watchlist now offers the ability to configure “auto-remove” rules to age customers off your lists&nbsp;and enhanced user management and list sharing features. &nbsp;Lastly, Watchlist is fully API-enabled to support application integration and&nbsp;dynamic list management via real-time services.</p>
            </div>
                <button class="ct-update-close" type="button" data-role="accordion-trigger" aria-expanded="true">[Close]</button>
    </div>
</article><article class="ct-update" id="post-310" data-component="accordion">
    <a href="http://cxp.cable.comcast.com/release/#" class="ct-accordion-content-trigger" data-role="accordion-trigger" aria-expanded="false">
        <div class="ct-update-date ct-background--jun">
            <span>Jun</span>
            <span>10</span>
            <span>2017</span>
        </div>
        <div class="ct-update-header">
            <h3 class="ct-update-title">Release 17.06.1</h3>
            
            <ul class="ct-update-summary ct-update-summary--desktop">
                <li>SmartConnect: Consent Program</li><li>June Demo Videos</li>                
            </ul> 
        </div>
        <div class="ct-accordion-content-indicator" data-role="accordion-indicator" data-accordion-indicator-alt-text="Hide">
            <span class="is-visually-hidden">Show</span>
        </div>
    </a>
    <div class="ct-update-body" data-role="accordion-body" aria-hidden="true">

        <ul class="ct-update-summary ct-update-summary--mobile">
                            <li>SmartConnect: Consent Program</li> 
                            <li>June Demo Videos</li> 
                    </ul>

                     
                <img src="./Release Notes Archive - CXPersonalization_files/SmartConnect_Alert_forWP.jpg" class="alignleft ct-update-body-img">
                            <div class="ct-update-body-text">
                <h4>SmartConnect: Consent Program</h4>
                <p>SmartConnect is playing a critical technology role in gaining customer approval and keeping them informed on any changes to their package. &nbsp;SmartConnect orchestrates&nbsp;any “consent fallout situations” where a customer’s bill may change and our omni-channel notification strategy is executed through&nbsp;X1 Notification Center, MyAccount App, SMS, and Email. SmartConnect also provides business continuity coverage in the event ConsentDB is down, triggering consent notifications on any new orders detected through BEP.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
            </div>
                     
                <img src="./Release Notes Archive - CXPersonalization_files/may_ShowTell016.jpg" class="alignleft ct-update-body-img">
                            <div class="ct-update-body-text">
                <h4>June Demo Videos</h4>
                <p>The CX Personalization&nbsp;team assembled in early June to&nbsp;review of all the new features released and under development.&nbsp;Amazing stuff&nbsp;in the pipeline for the Customer Timeline Platform! Click <a href="https://comcast.box.com/s/8fjfpllj5f85ktgyhwmfc64p93u0t30t">here </a>for videos of the presentations.</p>
            </div>
                <button class="ct-update-close" type="button" data-role="accordion-trigger">[Close]</button>
    </div>
</article><article class="ct-update" id="post-211" data-component="accordion">
    <a href="http://cxp.cable.comcast.com/release/#" class="ct-accordion-content-trigger" data-role="accordion-trigger" aria-expanded="false">
        <div class="ct-update-date ct-background--may">
            <span>May</span>
            <span>26</span>
            <span>2017</span>
        </div>
        <div class="ct-update-header">
            <h3 class="ct-update-title">Release 17.05.2</h3>
            
            <ul class="ct-update-summary ct-update-summary--desktop">
                <li>SmartConnect for Oz Program</li><li>SmartConnect for xFi Device Swaps</li>                
            </ul> 
        </div>
        <div class="ct-accordion-content-indicator" data-role="accordion-indicator" data-accordion-indicator-alt-text="Hide">
            <span class="is-visually-hidden">Show</span>
        </div>
    </a>
    <div class="ct-update-body" data-role="accordion-body" aria-hidden="true">

        <ul class="ct-update-summary ct-update-summary--mobile">
                            <li>SmartConnect for Oz Program</li> 
                            <li>SmartConnect for xFi Device Swaps</li> 
                    </ul>

                     
                <img src="./Release Notes Archive - CXPersonalization_files/OZ_Mobile_forWP.jpg" class="alignleft ct-update-body-img">
                            <div class="ct-update-body-text">
                <h4>SmartConnect for Oz Program</h4>
                <p>SmartConnect powers <strong>Oz program alerts</strong> in<strong> Mobile App </strong>and<strong>&nbsp;my.xfinity.com Blue Bar</strong>, helping customers with possible connection issues schedule a complimentary technician appointment to fix their experience.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
            </div>
                     
                <img src="./Release Notes Archive - CXPersonalization_files/device_swap_image_forWP.jpg" class="alignright ct-update-body-img">
                            <div class="ct-update-body-text">
                <h4>SmartConnect for xFi Device Swaps</h4>
                <p>SmartConnect is driving&nbsp;<strong>xFi penetration </strong>by notifying agents via&nbsp;Einstein recommendations&nbsp;that customers are eligible to swap their device and upgrade their internet experience. &nbsp;Messages&nbsp;were posted to 15M eligible accounts starting&nbsp;May 19th through&nbsp;May 29th.</p>
            </div>
                <button class="ct-update-close" type="button" data-role="accordion-trigger">[Close]</button>
    </div>
</article><article class="ct-update" id="post-208" data-component="accordion">
    <a href="http://cxp.cable.comcast.com/release/#" class="ct-accordion-content-trigger" data-role="accordion-trigger" aria-expanded="false">
        <div class="ct-update-date ct-background--may">
            <span>May</span>
            <span>12</span>
            <span>2017</span>
        </div>
        <div class="ct-update-header">
            <h3 class="ct-update-title">Release 17.05.1</h3>
            
            <ul class="ct-update-summary ct-update-summary--desktop">
                <li>Product Security for Watchlist</li><li>Timeline API Upgrade</li>                
            </ul> 
        </div>
        <div class="ct-accordion-content-indicator" data-role="accordion-indicator" data-accordion-indicator-alt-text="Hide">
            <span class="is-visually-hidden">Show</span>
        </div>
    </a>
    <div class="ct-update-body" data-role="accordion-body" aria-hidden="true">

        <ul class="ct-update-summary ct-update-summary--mobile">
                            <li>Product Security for Watchlist</li> 
                            <li>Timeline API Upgrade</li> 
                    </ul>

                     
                <img src="./Release Notes Archive - CXPersonalization_files/watchlist_notification_security_forWP.jpg" class="alignleft ct-update-body-img">
                            <div class="ct-update-body-text">
                <h4>Product Security for Watchlist</h4>
                <p>Timeline <strong>Watchlist notifications</strong> have been enhanced to improve <strong>Product Security</strong> in multiple communication channels. Customer account numbers have been removed&nbsp;and only customer names will post to current (Email, Slack) and future messaging channels with deeplinks back to Customer Timeline details.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
            </div>
                     
                <img src="./Release Notes Archive - CXPersonalization_files/one_API_forWP.jpg" class="alignright ct-update-body-img">
                            <div class="ct-update-body-text">
                <h4>Timeline API Upgrade</h4>
                <p class="p1">The Timeline team paid down some serious technical debt by eliminating redundant application programming interfaces (APIs) that serve and support the platform.<span class="Apple-converted-space">&nbsp; </span>Applications such as Timeline UI, Einstein360, <a href="http://xfinity.com/"><span class="s1">xfinity.com</span></a> and MyAccount Mobile App leverage Timeline Platform APIs millions of times per day to serve our customers and workforce.<span class="Apple-converted-space">&nbsp; </span>As a result of this initiative the platform is more reliable, scalable, and performant to meet the current and future needs of the business.</p>
            </div>
                <button class="ct-update-close" type="button" data-role="accordion-trigger">[Close]</button>
    </div>
</article><article class="ct-update" id="post-190" data-component="accordion">
    <a href="http://cxp.cable.comcast.com/release/#" class="ct-accordion-content-trigger" data-role="accordion-trigger" aria-expanded="false">
        <div class="ct-update-date ct-background--apr">
            <span>Apr</span>
            <span>14</span>
            <span>2017</span>
        </div>
        <div class="ct-update-header">
            <h3 class="ct-update-title">Release 17.04.2</h3>
            
            <ul class="ct-update-summary ct-update-summary--desktop">
                <li>Retail 360</li><li>Salesforce.com</li>                
            </ul> 
        </div>
        <div class="ct-accordion-content-indicator" data-role="accordion-indicator" data-accordion-indicator-alt-text="Hide">
            <span class="is-visually-hidden">Show</span>
        </div>
    </a>
    <div class="ct-update-body" data-role="accordion-body" aria-hidden="true">

        <ul class="ct-update-summary ct-update-summary--mobile">
                            <li>Retail 360</li> 
                            <li>Salesforce.com</li> 
                    </ul>

                     
                <img src="./Release Notes Archive - CXPersonalization_files/Retail360.jpg" class="alignleft ct-update-body-img">
                            <div class="ct-update-body-text">
                <h4>Retail 360</h4>
                <p class="p1">Timeline completed integration with the <strong>TimeTrade</strong> system and now ingests three&nbsp;critical retail events in support of Retail360’s launch.<span class="Apple-converted-space">&nbsp; </span>These include: Customer Account Loads, Device Modifications (Swaps/Adds/Deletes), and Customer Appointment Confirmations.</p>
            </div>
                     
                <img src="./Release Notes Archive - CXPersonalization_files/salesforce_influencers.jpg" class="alignright ct-update-body-img">
                            <div class="ct-update-body-text">
                <h4>Salesforce.com</h4>
                <p class="p1">Timeline is now&nbsp;integrated with Salesforce SalesCloud case management system and CRM database on behalf of the Xfinity Influencer Program and Charleston COE.<span class="Apple-converted-space">&nbsp; </span>Customer case records and customer account changes are pushed to Timeline in real-time and will help the COE achieve automated reporting (outliers) and proactive notifications (Watchlists) for this critical customer segment.</p>
            </div>
                <button class="ct-update-close" type="button" data-role="accordion-trigger">[Close]</button>
    </div>
</article><article class="ct-update" id="post-187" data-component="accordion">
    <a href="http://cxp.cable.comcast.com/release/#" class="ct-accordion-content-trigger" data-role="accordion-trigger" aria-expanded="false">
        <div class="ct-update-date ct-background--apr">
            <span>Apr</span>
            <span>7</span>
            <span>2017</span>
        </div>
        <div class="ct-update-header">
            <h3 class="ct-update-title">Release 17.04.1</h3>
            
            <ul class="ct-update-summary ct-update-summary--desktop">
                <li>Expiring Creditcard, First Bill Video</li><li>CX Virtual Assistant</li>                
            </ul> 
        </div>
        <div class="ct-accordion-content-indicator" data-role="accordion-indicator" data-accordion-indicator-alt-text="Hide">
            <span class="is-visually-hidden">Show</span>
        </div>
    </a>
    <div class="ct-update-body" data-role="accordion-body" aria-hidden="true">

        <ul class="ct-update-summary ct-update-summary--mobile">
                            <li>Expiring Creditcard, First Bill Video</li> 
                            <li>CX Virtual Assistant</li> 
                    </ul>

                     
                <img src="./Release Notes Archive - CXPersonalization_files/Smartconnect_image_forWP_02.jpg" class="alignleft ct-update-body-img">
                            <div class="ct-update-body-text">
                <h4>Expiring Creditcard, First Bill Video</h4>
                <p class="p1">Two new SmartConnect use cases were deployed to production to help improve customer awareness and decrease customer call-in-rate (CIR).<span class="Apple-converted-space">&nbsp; </span><b>Customer</b> <b>Credit Card Expiring</b> service alert proactively notifies customers of a pending CC expiration and guides them to update auto-pay settings on MyAccount.<span class="Apple-converted-space">&nbsp; </span><b>First Bill Video</b> service alert presents on the my.xfinity.com Blue Bar and takes the customer to a video tutorial explaining their First Bill.<span class="Apple-converted-space">&nbsp; </span>We expect approximately 3M customer alerts annually for these two use cases.</p>
<p class="p1">
</p><p class="p1">
            </p></div>
                     
                <img src="./Release Notes Archive - CXPersonalization_files/Virtual_Assistant_forWP.jpg" class="alignright ct-update-body-img">
                            <div class="ct-update-body-text">
                <h4>CX Virtual Assistant</h4>
                <p class="p1">Now customers can get answers, support and even recommendations from their own virtual customer experience assistant, 24/7/365 on the My Account app and later this year in other digital channels like <a href="http://xfinity.com/"><span class="s1">xfinity.com</span></a> and through our X1 Voice Remote.<span class="Apple-converted-space">&nbsp; </span>Customer assistant inquiries and search activity are now ingested into Timeline, helping us understand customer digital behaviors and personalize the customer journey with every interaction. &nbsp;<a href="https://www.comcastnow.com/article/%7B98369D29-59EF-4A1E-AB25-658FF6199611%7D?icid=Your%20News%20Newsfeed:Introducing%20a%20Smarter%20Search%20Experience:83">Learn more here</a>.</p>
            </div>
                <button class="ct-update-close" type="button" data-role="accordion-trigger">[Close]</button>
    </div>
</article><article class="ct-update" id="post-179" data-component="accordion">
    <a href="http://cxp.cable.comcast.com/release/#" class="ct-accordion-content-trigger" data-role="accordion-trigger" aria-expanded="false">
        <div class="ct-update-date ct-background--mar">
            <span>Mar</span>
            <span>24</span>
            <span>2017</span>
        </div>
        <div class="ct-update-header">
            <h3 class="ct-update-title">Release 17.03.2</h3>
            
            <ul class="ct-update-summary ct-update-summary--desktop">
                <li>Timeline Wholesale</li><li>Elements 2.0 Automated Ingest</li><li>NPS Smart Callbacks</li>                
            </ul> 
        </div>
        <div class="ct-accordion-content-indicator" data-role="accordion-indicator" data-accordion-indicator-alt-text="Hide">
            <span class="is-visually-hidden">Show</span>
        </div>
    </a>
    <div class="ct-update-body" data-role="accordion-body" aria-hidden="true">

        <ul class="ct-update-summary ct-update-summary--mobile">
                            <li>Timeline Wholesale</li> 
                            <li>Elements 2.0 Automated Ingest</li> 
                            <li>NPS Smart Callbacks</li> 
                    </ul>

                     
                <img src="./Release Notes Archive - CXPersonalization_files/wholesale_forWP.jpg" class="alignleft ct-update-body-img">
                            <div class="ct-update-body-text">
                <h4>Timeline Wholesale</h4>
                <p class="p1">Timeline continues to drive benefits internally and is gaining interest externally.&nbsp; We are in discussions with Comcast Ventures, NBCU, other MSOs to explore licensing and syndication opportunities. &nbsp;As part of Lab Week we demoed a replication of Customer Timeline platform in a separate, multi-tenant cloud environment for a fictitious customer “CarCo”. The Timeline platform has proven scale, been extended to AWS Cloud and will able to support new tenants by May 2016.</p>
            </div>
                     
                <img src="./Release Notes Archive - CXPersonalization_files/elements_forWP.jpg" class="alignright ct-update-body-img">
                            <div class="ct-update-body-text">
                <h4>Elements 2.0 Automated Ingest</h4>
                <p class="p1">Data engineering ingestion processes have been automated in Timeline Elements 2.0 which is on our new AWS cloud platform.<span class="Apple-converted-space">&nbsp; </span>This technical innovation creates the ability to ingest new data sources into Timeline in MINUTES (formerly weeks or months) and transforms previous manual processing efforts from highly skilled data engineers into a streamlined, self-service web experience.</p>
            </div>
                     
                <img src="./Release Notes Archive - CXPersonalization_files/Medallia_forWP.jpg" class="alignleft ct-update-body-img">
                            <div class="ct-update-body-text">
                <h4>NPS Smart Callbacks</h4>
                <p class="p1">We want to make the NPS callback process more simple and effective, so we are building machine learning and real-time integration between Medallia and Timeline Talk to reduce employee effort and improve payback on our efforts. During Lab Week we released a proof-of-concept to show how employees could easily report on high-value callbacks, initiate the callback and complete notes without ever logging into Medallia.<span class="Apple-converted-space">&nbsp; <a href="https://comcast.box.com/v/nps-smart-callbacks-lw">Click here</a> to see it. </span>We expect a production release of the solution by May 2016.</p>
            </div>
                <button class="ct-update-close" type="button" data-role="accordion-trigger">[Close]</button>
    </div>
</article><article class="ct-update" id="post-176" data-component="accordion">
    <a href="http://cxp.cable.comcast.com/release/#" class="ct-accordion-content-trigger" data-role="accordion-trigger" aria-expanded="false">
        <div class="ct-update-date ct-background--mar">
            <span>Mar</span>
            <span>3</span>
            <span>2017</span>
        </div>
        <div class="ct-update-header">
            <h3 class="ct-update-title">Release 17.03.1</h3>
            
            <ul class="ct-update-summary ct-update-summary--desktop">
                <li>Truck Roll Journey Visualization</li><li>Truck Roll Journey Outliers</li><li>AppDynamics and Anodot</li>                
            </ul> 
        </div>
        <div class="ct-accordion-content-indicator" data-role="accordion-indicator" data-accordion-indicator-alt-text="Hide">
            <span class="is-visually-hidden">Show</span>
        </div>
    </a>
    <div class="ct-update-body" data-role="accordion-body" aria-hidden="true">

        <ul class="ct-update-summary ct-update-summary--mobile">
                            <li>Truck Roll Journey Visualization</li> 
                            <li>Truck Roll Journey Outliers</li> 
                            <li>AppDynamics and Anodot</li> 
                    </ul>

                     
                <img src="./Release Notes Archive - CXPersonalization_files/Truck_roll_forWP.jpg" class="alignleft ct-update-body-img">
                            <div class="ct-update-body-text">
                <h4>Truck Roll Journey Visualization</h4>
                <p class="p1">Customers are in a Truck Roll Journey when they either have a technician appointment pending or had one within the last 30-days.<span class="Apple-converted-space">&nbsp; </span>TR Journey Badge is now expanded to specific journey milestones and metrics giving users a simple visual to understand journey duration, rework, and customer effort.</p>
            </div>
                     
                <img src="./Release Notes Archive - CXPersonalization_files/outliers-demyst_forWP.jpg" class="alignright ct-update-body-img">
                            <div class="ct-update-body-text">
                <h4>Truck Roll Journey Outliers</h4>
                <p class="p1">The Truck Roll Journey <strong>Outlier Report</strong> highlights the 2,000 customers currently experiencing the longest, active truck roll journeys. This feature is in beta release as data quality across source systems will sometimes surface duration inaccuracies.<span class="Apple-converted-space">&nbsp; </span>In partnership with EBI, we are exposing journey intelligence reporting and workforce performance reporting as additional tools to help leadership (HQ, Division, Region, Frontline) improve operations and the customer experience.</p>
            </div>
                     
                <img src="./Release Notes Archive - CXPersonalization_files/appdynamics_anodot.jpg" class="alignleft ct-update-body-img">
                            <div class="ct-update-body-text">
                <h4>AppDynamics and Anodot</h4>
                <p class="p1">Timeline integrated two important technologies for big data platform operations, monitoring and data quality.<span class="Apple-converted-space">&nbsp; </span>AppDynamics monitors platform components across the broad ecosystem of Timeline platform services and infrastructure.<span class="Apple-converted-space">&nbsp; </span>Anodot is a real-time anomaly detection service that plugs into Timeline data streams and identifies patterns and statistical control thresholds to surface operational and data quality issues.</p>
            </div>
                <button class="ct-update-close" type="button" data-role="accordion-trigger">[Close]</button>
    </div>
</article><article class="ct-update" id="post-160" data-component="accordion">
    <a href="http://cxp.cable.comcast.com/release/#" class="ct-accordion-content-trigger" data-role="accordion-trigger" aria-expanded="false">
        <div class="ct-update-date ct-background--feb">
            <span>Feb</span>
            <span>15</span>
            <span>2017</span>
        </div>
        <div class="ct-update-header">
            <h3 class="ct-update-title">Release 17.02.2</h3>
            
            <ul class="ct-update-summary ct-update-summary--desktop">
                <li>Unified Notes</li><li>Work Order Details</li><li>Smart Connect: Super Bowl, Netflix, Xfinity Insights</li>                
            </ul> 
        </div>
        <div class="ct-accordion-content-indicator" data-role="accordion-indicator" data-accordion-indicator-alt-text="Hide">
            <span class="is-visually-hidden">Show</span>
        </div>
    </a>
    <div class="ct-update-body" data-role="accordion-body" aria-hidden="true">

        <ul class="ct-update-summary ct-update-summary--mobile">
                            <li>Unified Notes</li> 
                            <li>Work Order Details</li> 
                            <li>Smart Connect: Super Bowl, Netflix, Xfinity Insights</li> 
                    </ul>

                     
                <img src="./Release Notes Archive - CXPersonalization_files/unified_notes_image_forWP.jpg" class="alignleft ct-update-body-img">
                            <div class="ct-update-body-text">
                <h4>Unified Notes</h4>
                <p class="p1">Timeline integrated <strong>Unified Notes</strong> which aggregates all customer-related notes across channels and functions (Billing, Agent, Tech, Retail, etc.).<span class="Apple-converted-space">&nbsp; </span>This is a great step toward improving our omni-channel insight and personalizing customer conversations.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
            </div>
                     
                <img src="./Release Notes Archive - CXPersonalization_files/work_order_detail_image_forWP-1.jpg" class="alignright ct-update-body-img">
                            <div class="ct-update-body-text">
                <h4>Work Order Details</h4>
                <p class="p1"><strong>Truck Roll events</strong> now offer deeper insight into the Technician’s Work Order with more details about the job.<span class="Apple-converted-space">&nbsp; </span>Technicians can view critical information about customer equipment, location, and network connection details to help make every customer appointment a success.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
            </div>
                     
                <img src="./Release Notes Archive - CXPersonalization_files/SC-SB-Netflix-Xfinity.jpg" class="alignleft ct-update-body-img">
                            <div class="ct-update-body-text">
                <h4>Smart Connect: Super Bowl, Netflix, Xfinity Insights</h4>
                <p class="p1">Smart Connect continues to orchestrate critical messaging to improve our customers experience. Three recent initiatives: <b>Super Bowl LI Credit</b>, messaged 13K customers that experienced an outage to apologize and offer them a credit on their next bill. <b>Netflix</b>: reminded 2,500 new Netflix-supported X1 customers to return equipment and prevent late fees. <b>Xfinity Insights Community</b>, encouraged 2M+ customers to provide feedback on Xfinity products and services.</p>
            </div>
                <button class="ct-update-close" type="button" data-role="accordion-trigger">[Close]</button>
    </div>
</article><article class="ct-update" id="post-156" data-component="accordion">
    <a href="http://cxp.cable.comcast.com/release/#" class="ct-accordion-content-trigger" data-role="accordion-trigger" aria-expanded="false">
        <div class="ct-update-date ct-background--feb">
            <span>Feb</span>
            <span>1</span>
            <span>2017</span>
        </div>
        <div class="ct-update-header">
            <h3 class="ct-update-title">Release 17.02.1</h3>
            
            <ul class="ct-update-summary ct-update-summary--desktop">
                <li>Customer Request (CR) Tickets</li><li>SmartConnect: Billing Experience Credit</li>                
            </ul> 
        </div>
        <div class="ct-accordion-content-indicator" data-role="accordion-indicator" data-accordion-indicator-alt-text="Hide">
            <span class="is-visually-hidden">Show</span>
        </div>
    </a>
    <div class="ct-update-body" data-role="accordion-body" aria-hidden="true">

        <ul class="ct-update-summary ct-update-summary--mobile">
                            <li>Customer Request (CR) Tickets</li> 
                            <li>SmartConnect: Billing Experience Credit</li> 
                    </ul>

                     
                <img src="./Release Notes Archive - CXPersonalization_files/ticket_icon_image_forWP.jpg" class="alignleft ct-update-body-img">
                            <div class="ct-update-body-text">
                <h4>Customer Request (CR) Tickets</h4>
                <p class="p1">Timeline now offers <b>Customer Request Tickets</b>. CR tickets are logged in the Trouble Ticket System (TTS) when a customer has an issue such as a technical or billing problem, along with resolution steps.</p>
            </div>
                     
                <img src="./Release Notes Archive - CXPersonalization_files/csg-billing-error-sc.png" class="alignright ct-update-body-img">
                            <div class="ct-update-body-text">
                <h4>SmartConnect: Billing Experience Credit</h4>
                <p class="p1">Comcast had a hiccup with incorrect billing information placed&nbsp;on over 1M customer accounts in late January.<span class="Apple-converted-space">&nbsp; </span><strong>Smart Connect</strong> was leveraged to provide call context for this error, alerting Agents about the problem for over 50K customers that saw incorrect balance information. CX and Finance teams drove a response to apologize to customers that paid an incorrect amount and offer them a credit on their next bill for the inconvenience. &nbsp;Learn more on <a href="https://www.comcastnow.com/article/%7BC2AB48BC-5ABC-4A7D-B92C-877DEBE89394%7D"><strong>ComcastNow</strong></a>.</p>
            </div>
                <button class="ct-update-close" type="button" data-role="accordion-trigger">[Close]</button>
    </div>
</article>            </div>
        </section>
    >